<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>AllStore - MultiConcept eCommerce Template</title>

    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700ii%7CRoboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" th:href="@{/customer/css/font-awesome.min.css}">
    <link th:href="@{/customer/css/bootstrap.min.css}" rel="stylesheet" >
    <link th:href="@{/customer/css/ion.rangeSlider.css}" rel="stylesheet">
    <link th:href="@{/customer/css/ion.rangeSlider.skinFlat.css}" rel="stylesheet">
    <link th:href="@{/customer/css/jquery.bxslider.css}" rel="stylesheet">
    <link th:href="@{/customer/css/jquery.fancybox.css}" rel="stylesheet">
    <link th:href="@{/customer/css/flexslider.css}" rel="stylesheet">
    <link th:href="@{/customer/css/swiper.css}" rel="stylesheet">
    <link th:href="@{/customer/css/swiper.css}" rel="stylesheet">
    <link th:href="@{/customer/css/style.css}" rel="stylesheet">
    <link th:href="@{/customer/css/media.css}" rel="stylesheet">
</head>
<body>
<!-- Header - start -->
<header class="header">

    <!-- Topbar - start -->
    <!-- Topbar - end -->

    <!-- Logo, Shop-menu - start -->
    <!-- Logo, Shop-menu - end -->

    <!-- Topmenu - start -->
    <!-- Topmenu - end -->

</header>
<!-- Header - end -->


<!-- Main Content - start -->
<main>
    <section class="container">


        <!-- Slider -->


        <!-- Popular Products -->
        <div class="fr-pop-wrap">

            <h3 class="component-ttl"><span>Popular products</span></h3>

            <ul class="fr-pop-tabs sections-show">
                <li><a data-frpoptab-num="1" data-frpoptab="#frpoptab-tab-1" href="#" class="active">All Categories</a></li>
                <li><a data-frpoptab-num="2" data-frpoptab="#frpoptab-tab-2" href="#">Áo</a></li>
                <li><a data-frpoptab-num="3" data-frpoptab="#frpoptab-tab-3" href="#">Quần</a></li>

            </ul>

            <div class="fr-pop-tab-cont">

                <p data-frpoptab-num="1" class="fr-pop-tab-mob active" data-frpoptab="#frpoptab-tab-1">All Categories</p>
                <div class="flexslider prod-items fr-pop-tab" id="frpoptab-tab-1">

                    <ul class="slides">

                        <li class="prod-i" th:each="product : ${listProduct}">
                            <div class="prod-i-top">
                                <a href="product.html" class="prod-i-img"><!-- NO SPACE --><img th:src="@{${product.getProductImage()}}" alt="Aspernatur excepturi rem"><!-- NO SPACE --></a>
                                <p class="prod-i-info">
                                    <a href="#" class="qview-btn prod-i-qview"><span>Quick View</span><i class="fa fa-search"></i></a>
                                </p>
                                <p class="prod-i-addwrap">
                                    <a href="#" class="prod-i-add">Go to detail</a>
                                </p>
                            </div>
                            <h3>
                                <a th:utext="${product.getProductName()}"></a>
                            </h3>
                            <p class="prod-i-price">
                                <b th:utext="${product.productPrice}"></b>
                            </p>

                        </li>




                    </ul>

                </div>
            </div>

        </div>

    </section>
</main>
<!-- Main Content - end -->


<!-- Footer - start -->
<footer class="footer-wrap">
    

    <div class="container f-menu-list">
        <div class="row">
            <div class="f-menu">
                <h3>
                    About us
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="home.html">Home</a></li>
                    <li><a href="catalog-list.html">Catalog</a></li>
                    <li><a href="elements.html">Elements</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                </ul>
            </div>
            <div class="f-menu">
                <h3>
                    Shop
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="catalog-list.html">Women</a></li>
                    <li><a href="catalog-list.html">Men</a></li>
                    <li><a href="catalog-list.html">Kids</a></li>
                    <li><a href="catalog-list.html">Shoes</a></li>
                    <li><a href="catalog-list.html">Accessories</a></li>
                </ul>
            </div>
            <div class="f-menu">
                <h3>
                    Information
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog.html">News</a></li>
                    <li><a href="reviews.html">Reviews</a></li>
                    <li><a href="blog.html">Articles</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                </ul>
            </div>
            <div class="f-menu">
                <h3>
                    Pages
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="contacts.html">About us</a></li>
                    <li><a href="contacts.html">Delivery</a></li>
                    <li><a href="contacts.html">Guarantees</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                    <li><a href="404.html">Page 404</a></li>
                </ul>
            </div>
            <div class="f-subscribe">
                <h3>Subscribe to news</h3>
                <form class="f-subscribe-form" action="#">
                    <input placeholder="Your e-mail" type="text">
                    <button type="submit"><i class="fa fa-paper-plane"></i></button>
                </form>
                <p>Enter your email address if you want to receive our newsletter. Subscribe now!</p>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <ul class="social-icons nav navbar-nav">
                    <li>
                        <a href="http://facebook.com/" rel="nofollow" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://google.com/" rel="nofollow" target="_blank">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://twitter.com/" rel="nofollow" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://vk.com/" rel="nofollow" target="_blank">
                            <i class="fa fa-vk"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://instagram.com/" rel="nofollow" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                <div class="footer-copyright">
                    <i><a href="https://themeforest.net/user/real-web?ref=real-web">Real-Web</a></i> © Copyright 2017
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- Footer - end -->


<!-- jQuery plugins/scripts - start -->
<script th:src="@{/customer/js/jquery-1.11.2.min.js}" type="text/javascript"></script>
<script th:src="@{/customer/js/jquery.bxslider.min.js}" type="text/javascript"></script>
<script th:src="@{/customer/js/fancybox/fancybox.js}" type="text/javascript"></script>
<script th:src="@{/customer/js/fancybox/helpers/jquery.fancybox-thumbs.js}" type="text/javascript"></script>
<script th:src="@{/customer/js/jquery.flexslider-min.js}" type="text/javascript"></script>
<script th:src="@{/customer/js/swiper.jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/customer/js/jquery.waypoints.min.}" type="text/javascript"></script>
<script th:src="@{/customer/js/progressbar.min.js}" type="text/javascript"></script>
<script th:src="@{/customer/js/ion.rangeSlider.min.js}" type="text/javascript"></script>
<script th:src="@{/customer/js/chosen.jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/customer/js/jQuery.Brazzers-Carousel.}" type="text/javascript"></script>
<script th:src="@{/customer/js/plugins.js}" type="text/javascript"></script>
<script th:src="@{/customer/js/main.js}" type="text/javascript"></script>
<!--<script th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyDhAYvx0GmLyN5hlf6Uv_e9pPvUT3YpozE}"></script>-->
<script th:src="@{/customer/js/gmap.js}" type="text/javascript"></script>
<!-- jQuery plugins/scripts - end -->

</body>
</html>